<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ecologylabImageAwtTest/ecologylab/image/test/MmImageTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ecologylab.image.test.MmImageTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="file:///Users/andruid/web/workspaces/ecologylabWebWorkspace/ecologylabWeb/images/combinFormationIcon06.png&#10;http://graphics8.nytimes.com/images/blogs_v3/opinionator/pogs/thestone75.gif&#10;file:///Users/andruid/web/workspaces/ecologylabWebWorkspace/ecologylabWeb/images/interfaceEcologyLabLogos200.png"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ecologylabImageAwtTest"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms320m -Xmx320m"/>
</launchConfiguration>
