<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ecologylabSemanticsExample/src/ecologylab/semantics/metametadata/test/NewMmTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ecologylab.semantics.metametadata.test.NewMmTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://books.google.com/books?id=eE1FSQAACAAJ&#13;&#10;//&#13;&#10;http://www.google.com/patents/US20100001960&#13;&#10;//&#13;&#10;http://www.nsf.gov/awardsearch/piSearch.do?SearchType=piSearch&amp;page=1&amp;QueryText=&amp;PIFirstName=andruid&amp;PILastName=kerne&amp;PIInstitution=&amp;PIState=&amp;PIZip=&amp;PICountry=&amp;Restriction=2&amp;Search=Search#results&#13;&#10;//&#13;&#10;http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0803854&#13;&#10;//&#13;&#10;http://where.yahooapis.com/geocode?gflags=R&amp;q=-96.28616666666667,30.604833333333332&#13;&#10;http://www.airbnb.com/rooms/36769&#13;&#10;http://dl.acm.org/citation.cfm?id=1871437.1871580"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ecologylabSemanticsExample"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms320m -Xmx320m"/>
</launchConfiguration>
