<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ecologylabSemanticsExample/src/ecologylab/semantics/metametadata/test/NewMmTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ecologylab.semantics.metametadata.test.NewMmTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://en.wikipedia.org/w/index.php?title=Special:Search&amp;profile=default&amp;search=type&amp;fulltext=Search&#13;&#10;//&#13;&#10;http://en.wikipedia.org/wiki/Type_system&#13;&#10;//&#13;&#10;http://www.imdb.com/title/tt0435761/&#13;&#10;http://www.imdb.com/title/tt1136608/&#13;&#10;http://www.rottentomatoes.com/m/district_9/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ecologylabSemanticsExample"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms320m -Xmx320m"/>
</launchConfiguration>
