<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BigSemanticsSDK/src/ecologylab/semantics/tools/MmTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ecologylab.bigsemantics.tools.MmTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://www.amazon.com/Twilight-Saga-Breaking-Two-Disc-Special/dp/B002BWP49C&#13;&#10;//&#13;&#10;http://books.google.com/books?id=NLngYyWFl_YC&#13;&#10;//&#13;&#10;http://api.bing.net/xml.aspx?appid=41793F369AD63C9CD9D6C27BB2E72EB5AB4C9234&amp;sources=web&amp;query=metadata+site%3Aacm.org&#13;&#10;http://www.google.com/patents/US20100001960&#13;&#10;//&#13;&#10;http://www.nsf.gov/awardsearch/piSearch.do?SearchType=piSearch&amp;page=1&amp;QueryText=&amp;PIFirstName=andruid&amp;PILastName=kerne&amp;PIInstitution=&amp;PIState=&amp;PIZip=&amp;PICountry=&amp;Restriction=2&amp;Search=Search#results&#13;&#10;//&#13;&#10;http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0803854&#13;&#10;//&#13;&#10;http://where.yahooapis.com/geocode?gflags=R&amp;q=-96.28616666666667,30.604833333333332&#13;&#10;http://www.airbnb.com/rooms/36769&#13;&#10;http://dl.acm.org/citation.cfm?id=1871437.1871580"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BigSemanticsSDK"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms320m -Xmx320m"/>
</launchConfiguration>
